body {
  background: url(/bg.avif) no-repeat center center fixed;
  background-size: cover;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#waybar-iframe {
  width: 100vw;
  border: none;
}
